<ion-header>
  <ion-toolbar color="primary" style="height: 100%;">
    <ion-grid>
      <ion-row>
        <ion-col col-3 col-md-6>
          <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" >
        </ion-col>
    <br>
  
          <ion-title #titulo class="ion-text-left ion-text">
            <div>
              <h1 style="color: orange;">Sistema de asistencia DUOC</h1>
            </div>
          </ion-title>
        
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="componente_actual"  (ngModelChange)="cambiarComponente($event)">
      
      <ion-segment-button value="qr" *ngIf="!(usuario.nombre === 'admin' && usuario.apellido === 'admin' && usuario.correo === 'admin@admin.cl')">
        <ion-label>QR</ion-label>
      </ion-segment-button>

      <ion-segment-button value="miclase" *ngIf="!(usuario.nombre === 'admin' && usuario.apellido === 'admin' && usuario.correo === 'admin@admin.cl')">
        <ion-label>Mi clase</ion-label>
      </ion-segment-button>

      <ion-segment-button value="foro">
        <ion-label>Foro</ion-label>
      </ion-segment-button>

      <ion-segment-button value="misdatos">
        <ion-label>Mis datos</ion-label>
      </ion-segment-button>

      <ion-segment-button *ngIf="usuario.nombre =='admin' && usuario.apellido =='admin' && usuario.correo =='admin@admin.cl'" value="admin">
        <ion-label>Admin</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content >

  <app-qr [hidden]="componente_actual !== 'qr'" (qrCapturado)="cambiarComponente('miclase')" ></app-qr>

  <app-miclase [hidden]="componente_actual !== 'miclase'"></app-miclase>

  <app-foro [hidden]="componente_actual !== 'foro'"></app-foro>

  <app-misdatos [hidden]="componente_actual !== 'misdatos'"></app-misdatos>
  
  <app-admin  [hidden]="componente_actual !== 'admin'"></app-admin>
</ion-content>
<ion-footer color="secondary">
  <ion-toolbar color="secondary">
    <ion-button (click)="cerrarSesion()" expand="block" fill="clear" shape="round">
      Cerrar sesión
    </ion-button>
  </ion-toolbar>
</ion-footer>